## LEKSHMY HO
## AM.EN.P2ARI20020

In [1]:
import pandas as pd

. Get online Retail dataset from http://archive.ics.uci.edu/ml/datasets/Online+Retail
It consists of 541909 instances with 8 attributes.

In [2]:
data = pd.read_excel("Online Retail.xlsx") 
data= data.dropna()

In [97]:
#creating basket based on Country
basket_France = (data[data['Country'] =="France"])
basket_France.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583.0,France
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583.0,France
33,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,2010-12-01 08:45:00,2.95,12583.0,France
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583.0,France
35,536370,22629,SPACEBOY LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France

a. Write a function to choose unique ‘k’ items from the dataset.

In [4]:
#creating unique datasets
def unique_items(old_data,item):
        new_data=old_data.copy()
        unique=old_data.drop_duplicates([item])
        return unique

In [5]:
Unique_items=unique_items(data,'StockCode')
Unique_items

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
527065,580691,90214U,"LETTER ""U"" BLING KEY RING",12,2011-12-05 15:48:00,0.29,13790.0,United Kingdom
527067,580691,90214W,"LETTER ""W"" BLING KEY RING",12,2011-12-05 15:48:00,0.29,13790.0,United Kingdom
527069,580691,90214Z,"LETTER ""Z"" BLING KEY RING",12,2011-12-05 15:48:00,0.29,13790.0,United Kingdom
530382,580865,90089,PINK CRYSTAL SKULL PHONE CHARM,12,2011-12-06 11:58:00,0.19,17914.0,United Kingdom
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom

Write a function to find the customers who bought items from a given list of ‘k’
items and output in the form of a transaction matrix.

In [6]:
basket_France.iloc[8]['CustomerID']

12583.0

In [7]:
from collections import defaultdict

In [8]:
def customer_items(basket,items):
        d1 = defaultdict(list)
        for i in range(0,len(basket)):
                for j in range(0,len(items)):
                        if (basket.iloc[i]['StockCode'] == items[j]):
                                
                                key=basket.iloc[i]['CustomerID']
                                value=items[j]
                                if value not in d1[key]:
                                      d1[key].append(value)
                                #d1[key].add(items[j])
                        #else:
                                #continue
        return d1

In [9]:
def item(data,items):
    data_new = []
    test= customer_items(data,items)
    for i in test:
          data_new = data_new + test[i]
    set_data = set(data_new) 
#set_data.add("Customer")
    item_list = list(set_data)
    item_list = sorted(item_list)
    return item_list

In [10]:
def data_find(data,item_list):
    test= customer_items(data,item_list)
    #print(test)
    df_Total_data = []
    for i in test:
            df_data = []
            df_data.append(i)
            for j in range(len(item_list)):
                if item_list[j] in test[i]:
                     df_data.append(1)
                else:
                    df_data.append(0)  
            df_Total_data.append(df_data)
    item_sort=item(data,item_list)
    column_names = ["Customer"] + item_sort
    matrix = pd.DataFrame(df_Total_data,columns=column_names)
    return matrix

In [98]:
items=[22726,22138,22728,22727,21724,21883,10002,21791,21035,22326,22629]
matrix=data_find(basket_France,items)
matrix

,Customer,10002,21035,21724,21791,21883,22138,22326,22629,22726,22727,22728
0,12583.0,1,0,1,1,1,1,1,1,1,1,1
1,12686.0,0,0,0,0,0,0,0,1,0,0,0
2,12567.0,1,1,1,1,0,1,0,0,0,1,1
3,12681.0,1,1,1,1,0,1,1,0,0,1,1
4,12682.0,0,1,0,0,0,0,1,1,1,1,0
5,12731.0,0,0,0,0,0,0,1,0,0,0,1
6,12691.0,0,0,0,0,0,0,0,0,0,1,0
7,12413.0,0,1,0,0,0,1,0,0,0,1,0
8,12489.0,0,1,0,0,0,0,0,0,0,0,0
9,12651.0,0,1,0,0,0,1,0,0,1,0,0
10,12652.0,0,1,0,0,0,0,0,0,0,0,0
11,12553.0,0,1,0,0,0,1,0,0,0,0,0
12,12683.0,0,0,0,0,0,0,0,0,1,0,1
13,12637.0,1,1,1,1,0,0,1,1,1,1,1
14,12616.0,0,0,0,0,0,0,0,1,0,1,0
15,12678.0,1,1,1,1,1,0,0,0,0,1,1
16,12598.0,0,1,0,0,0,0,0,1,0,0,1
17,12679.0,0,0,0,0,0,0,0,0,0,0,1
18,12604.0,0,1,0,0,0,0,0,0,0,0,0
19,12564.0,0,0,0,0,0,0,0,0,0,1,1
20,12669.0,1,0,0,1,0,0,0,0,0,1,1
21,12656.0,1,0,1,1,0,0,0,0,0,1,1
22,12670.0,0,0,0,0,0,1,0,0,1,1,1
23,12593.0,0,0,0,0,0,0,0,0,0,0,1
24,12700.0,1,0,1,1,0,0,0,0,0,1,1
25,12684.0,0,0,1,0,0,1,0,0,0,0,1
26,12674.0,1,0,1,1,0,1,0,0,0,1,1
27,12620.0,0,1,0,0,0,0,0,0,0,0,0
28,12562.0,1,0,1,1,0,0,0,0,0,1,1
29,12535.0,0,1,0,0,0,0,0,0,0,0,0
30,12721.0,0,0,0,0,0,1,0,0,0,0,1
31,12437.0,0,0,0,0,0,0,0,0,0,1,1
32,12624.0,0,1,0,0,0,0,0,0,0,0,1
33,12490.0,0,0,0,0,0,0,0,0,0,1,1
34,12729.0,0,1,0,0,0,0,0,0,0,0,0
35,12680.0,1,1,1,1,0,0,0,0,0,1,1
36,12523.0,0,1,0,0,0,0,0,0,0,0,0
37,12714.0,0,1,0,0,0,0,0,0,0,1,0
38,12685.0,1,1,1,1,0,0,0,1,0,1,0
39,12726.0,0,0,0,0,0,1,0,1,0,0,0
40,12640.0,1,0,0,1,0,0,0,0,0,0,0
41,12724.0,0,0,0,0,0,0,0,0,0,1,1
42,12615.0,0,0,0,0,0,0,0,0,0,0,1
43,12536.0,0,1,0,0,0,0,0,0,0,1,0
44,12491.0,0,0,0,0,0,0,0,0,0,1,0
45,12689.0,0,0,0,1,0,0,0,0,0,0,0
46,12727.0,0,1,1,1,0,0,0,0,0,0,0
47,12488.0,0,1,0,0,0,0,0,0,0,0,0
48,12719.0,0,1,0,0,0,0,0,1,0,0,0
49,12716.0,0,0,0,0,0,0,0,0,0,1,0

## Frequent item set without Apriori

In [99]:
#first phase
def frequent_set(basket,items,minimum_support ):
    matrix=data_find(basket,items)
    matrix_new=matrix.copy()
    matrix_new=matrix_new.drop('Customer',axis='columns')
    q=(matrix_new!= 0).sum()
    mask=(matrix != 0).sum()>= minimum_support 
    fset=q[mask]
    #fset_new = pd.DataFrame(fset,index=None)
    fset_new=fset.to_frame()
    #fset_new2.index = range(len(fset_new))
    #fset_new.set_index(['Item', 'Support'])
    first=fset_new.index.values
    p=first.tolist()
    fset_new2=pd.DataFrame({'Item':p,'Support':fset_new.loc[:,0]})
    fset_new2.reset_index(drop=True, inplace=True)
    trans_df = fset_new2.set_index("Item").T
    freq_dict=trans_df.to_dict('list')
    return fset_new2,freq_dict

In [100]:
frequent_set,freq_dict=frequent_set(basket_France,items,3)

In [101]:
frequent_set

    Item  Support
0  10002       13
1  21035       24
2  21724       13
3  21791       15
4  22138       11
5  22326        5
6  22629        9
7  22726        6
8  22727       25
9  22728       25

In [102]:
freq_dict

{10002: [13],
 21035: [24],
 21724: [13],
 21791: [15],
 22138: [11],
 22326: [5],
 22629: [9],
 22726: [6],
 22727: [25],
 22728: [25]}

In [103]:
from itertools import combinations

 ## Candidate itemset

## a. Given two frequent k-itemset, L(k), generate L(k+1)

In [187]:
#second pass
#Generating candidate set
def candidate_set2(a,out):
        new_cob=[]
        my_dict=a
        #print(a)
        key_list = list(my_dict.keys())
        #print(key_list)
        comb = combinations(key_list, out)
        for j in list(comb):
             new_cob.append(j)
        #print(new_cob)
        return new_cob

In [209]:
def check_freq(items,minimum_support):
    d={}
    m=defaultdict(list)
    #print(items)
    p=matrix.groupby(items).size().to_frame('count').reset_index()
    #print(p)
    new_df =p[p.loc[:]!=0].dropna()
    if not new_df.empty:
            value = new_df['count'].values[0]
            if (value > minimum_support):
                      q = tuple(items) 
                      d[q]= value
        #for key, value in d.items():
            #m[key].append(value)
            #print(key, ':', value)
            #print(type(m))
    
    return d

In [189]:
def possible_candidate(freq_dict,min_support,cardinality):
    m = defaultdict(list)
    p=candidate_set2(freq_dict,cardinality)
    #print(p)
    for i in p: 
        #items=list(i)
        #print(items)
        q=check_freq(items,min_support)
        #print(q)
        for key, value in q.items():
            m[key].append(value)
            #p=list(m.keys())
        
        #print(q)
        #print(q)
        
    return m

In [292]:
#firstpass
freq_dict

{10002: [13],
 21035: [24],
 21724: [13],
 21791: [15],
 22138: [11],
 22326: [5],
 22629: [9],
 22726: [6],
 22727: [25],
 22728: [25]}

In [290]:
#secondpass
r=possible_candidate(freq_dict,5,2)
r

defaultdict(list,
            {(10002, 21035): [6],
             (10002, 21724): [11],
             (10002, 21791): [13],
             (10002, 22727): [12],
             (10002, 22728): [11],
             (21035, 21724): [7],
             (21035, 21791): [7],
             (21035, 22727): [10],
             (21035, 22728): [7],
             (21724, 21791): [12],
             (21724, 22727): [11],
             (21724, 22728): [11],
             (21791, 22727): [12],
             (21791, 22728): [11],
             (22138, 22727): [6],
             (22138, 22728): [7],
             (22727, 22728): [16]})

In [291]:
#thirdpass
r=possible_candidate(freq_dict,5,3)
r

defaultdict(list,
            {(10002, 21035, 21724): [6],
             (10002, 21035, 21791): [6],
             (10002, 21035, 22727): [6],
             (10002, 21724, 21791): [11],
             (10002, 21724, 22727): [11],
             (10002, 21724, 22728): [10],
             (10002, 21791, 22727): [12],
             (10002, 21791, 22728): [11],
             (10002, 22727, 22728): [11],
             (21035, 21724, 21791): [7],
             (21035, 21724, 22727): [6],
             (21035, 21791, 22727): [6],
             (21724, 21791, 22727): [11],
             (21724, 21791, 22728): [10],
             (21724, 22727, 22728): [10],
             (21791, 22727, 22728): [11]})

In [213]:
#fourthpass
r=possible_candidate(freq_dict,5,4)
r

defaultdict(list,
            {(10002, 21035, 21724, 21791): [6],
             (10002, 21035, 21724, 22727): [6],
             (10002, 21035, 21791, 22727): [6],
             (10002, 21724, 21791, 22727): [11],
             (10002, 21724, 21791, 22728): [10],
             (10002, 21724, 22727, 22728): [10],
             (10002, 21791, 22727, 22728): [11],
             (21035, 21724, 21791, 22727): [6],
             (21724, 21791, 22727, 22728): [10]})

confidence(freq_dict,2,3,4)

Given an itemset with cardinality ‘T’, and confidence threshold ‘c’, write a function
to output the possible association rules with confidence greater than ‘c’

In [293]:
def confidence(freq_dict,minimum_support,min_confid,C):
    r=possible_candidate(freq_dict,minimum_support,C)
    q=dict(r)
    items = list(q.keys())
    print(type(items))
    #print(type(items)
    for i in items:
            #items_n = [item for t in items for item in t]
                    #print(i)
            #for i in items:
                    #item_n = list(itertools.chain(*i))
                    item_n = list(i)
                    #print(item_n)
                    p=matrix.groupby(item_n).size().to_frame('count').reset_index()
            #print(p)
                    n=p.copy()
                    new_df =p[p.loc[:]!=0].dropna()
                    s_full=new_df['count'].values[0]
                    s_d=n['count'].iloc[-2]
                    confidence=s_full/s_d
            #print(confidence)
                    if (confidence>min_confid):
                            if (C==3):
                                print("(",item_n[0],",",item_n[1],")", '->',item_n[2])
                            elif (C==4):
                                print("(",item_n[0],",",item_n[1],item_n[2],")", '->',item_n[3])
                            elif (C==5):
                                print("(",item_n[0],",",item_n[1],item_n[2],item_n[3],")", '->',item_n[4])
                            elif (C==6):
                                print("(",item_n[0],",",item_n[1],item_n[2],item_n[3],item_n[4],")", '->',item_n[5])
                    #else:
                          #print('Not valid rule')

In [294]:
#cardinality 3
confidence(freq_dict,2,4,3)

<class 'list'>
( 10002 , 21035 ) -> 22728
( 10002 , 21724 ) -> 21791
( 10002 , 21724 ) -> 22727
( 10002 , 21724 ) -> 22728
( 10002 , 21791 ) -> 22727
( 10002 , 21791 ) -> 22728
( 10002 , 22727 ) -> 22728
( 21035 , 21724 ) -> 22727
( 21035 , 21791 ) -> 22727
( 21724 , 21791 ) -> 22727
( 21724 , 21791 ) -> 22728
( 21724 , 22727 ) -> 22728
( 21791 , 22727 ) -> 22728
( 22138 , 22727 ) -> 22728

In [295]:
#cardinality 4
confidence(freq_dict,2,4,4)

<class 'list'>
( 10002 , 21035 21724 ) -> 22728
( 10002 , 21035 21791 ) -> 22728
( 10002 , 21035 22727 ) -> 22728
( 10002 , 21724 21791 ) -> 22727
( 10002 , 21724 21791 ) -> 22728
( 10002 , 21724 22727 ) -> 22728
( 10002 , 21791 22727 ) -> 22728
( 21035 , 21724 21791 ) -> 22727
( 21035 , 21724 22727 ) -> 22728
( 21035 , 21791 22727 ) -> 22728
( 21724 , 21791 22727 ) -> 22728

In [296]:
#cardinality 5
confidence(freq_dict,2,4,5)

<class 'list'>
( 10002 , 21035 21724 21791 ) -> 22728
( 10002 , 21035 21724 22727 ) -> 22728
( 10002 , 21035 21791 22727 ) -> 22728
( 10002 , 21724 21791 22727 ) -> 22728
( 21035 , 21724 21791 22727 ) -> 22728

# Frequent k-itemset.- L(k)  with apriori
a. Given a support threshold ‘s’, write a function to find the k-itemset having
support greater than ‘s’
b.Candidate itemset
Given two frequent k-itemset, L(k), generate L(k+1)

In [2]:
from mlxtend.frequent_patterns import apriori, association_rules

In [298]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

In [299]:
def frequent_item_set(basket,items):
    matrix=data_find(basket,items)
    matrix_new=matrix.copy()
    matrix_new=matrix_new.drop('Customer',axis='columns')
    #print(matrix_new)
    basket_sets = matrix_new.applymap(encode_units)
    frq_items = apriori(basket_sets, min_support = 0.05, use_colnames = True) 
    return frq_items

In [300]:
frq_items=frequent_item_set(basket_France,items)
frq_items

     support                                    itemsets
0       0.26                                     (10002)
1       0.48                                     (21035)
2       0.26                                     (21724)
3       0.30                                     (21791)
4       0.22                                     (22138)
..       ...                                         ...
159     0.08         (22727, 22728, 22138, 21724, 21791)
160     0.06         (22727, 22728, 22326, 21724, 21791)
161     0.10  (22727, 22728, 21035, 10002, 21724, 21791)
162     0.08  (22727, 22728, 10002, 22138, 21724, 21791)
163     0.06  (22727, 22728, 10002, 22326, 21724, 21791)

[164 rows x 2 columns]

Given an itemset with cardinality ‘T’, and confidence threshold ‘c’, write a function
to output the possible association rules with confidence greater than ‘c’.

In [301]:
def association_rules(T,C,items,basket):
       
        required_items= [x for index, x in enumerate(items) if index < T]
        frq_items=frequent_item_set(basket,required_items)
        from mlxtend.frequent_patterns import apriori, association_rules 
        rules = association_rules(frq_items, metric="lift",min_threshold = C)
        return rules

In [302]:
items=basket_France['StockCode']
items=items.values.tolist()
rules=association_rules(5,1,items,basket_France)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(21883),(21724),0.681818,0.590909,0.545455,0.800000,1.353846,0.142562,2.045455
1,(21724),(21883),0.590909,0.681818,0.545455,0.923077,1.353846,0.142562,4.136364
2,(21724),(22726),0.590909,0.590909,0.500000,0.846154,1.431953,0.150826,2.659091
3,(22726),(21724),0.590909,0.590909,0.500000,0.846154,1.431953,0.150826,2.659091
4,(21724),(22727),0.590909,0.090909,0.090909,0.153846,1.692308,0.037190,1.074380
...,...,...,...,...,...,...,...,...,...
69,"(21883, 22726)","(22728, 21724)",0.590909,0.227273,0.181818,0.307692,1.353846,0.047521,1.116162
70,"(21724, 22726)","(22728, 21883)",0.500000,0.181818,0.181818,0.363636,2.000000,0.090909,1.285714
71,(21883),"(22728, 21724, 22726)",0.681818,0.181818,0.181818,0.266667,1.466667,0.057851,1.115702
72,(21724),"(22728, 21883, 22726)",0.590909,0.181818,0.181818,0.307692,1.692308,0.074380,1.181818
73,(22726),"(22728, 21883, 21724)",0.590909,0.181818,0.181818,0.307692,1.692308,0.074380,1.181818

## Repeat 2,3,4 for the dataset ‘store_data.csv’

In [3]:
import numpy as np

In [15]:
data = pd.read_csv("store_data.csv")
data = pd.DataFrame(data.values);
data=data.replace(np.nan,0)
data=data.head(500)

In [16]:
basket_sets = pd.get_dummies(data)
basket_sets

,19,0_almonds,0_antioxydant juice,0_asparagus,0_avocado,0_bug spray,0_burgers,0_butter,0_cake,0_candy bars,...,11_salt,11_tomato juice,12_0,12_fresh bread,13_0,14_0,15_0,16_0,17_0,18_0
0,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,1,1,1,1,1,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,1
496,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,1
497,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,1
498,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,1
499,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,1

In [9]:
from mlxtend.frequent_patterns import apriori, association_rules

In [17]:
#basket_sets = data.applymap(encode_units)
frq_items = apriori(basket_sets, min_support = 0.2, use_colnames = True) 
frq_items

        support                                           itemsets
0         0.248                                              (1_0)
1         0.444                                              (2_0)
2         0.584                                              (3_0)
3         0.684                                              (4_0)
4         0.772                                              (5_0)
...         ...                                                ...
262138    0.248  (14_0, 18_0, 12_0, 11_0, 16_0, 7_0, 2_0, 9_0, ...
262139    0.248  (14_0, 18_0, 12_0, 11_0, 16_0, 7_0, 2_0, 9_0, ...
262140    0.248  (14_0, 18_0, 12_0, 11_0, 16_0, 7_0, 9_0, 1_0, ...
262141    0.444  (14_0, 18_0, 12_0, 11_0, 16_0, 7_0, 2_0, 9_0, ...
262142    0.248  (14_0, 18_0, 12_0, 11_0, 16_0, 7_0, 2_0, 9_0, ...

[262143 rows x 2 columns]

In [23]:
frq_items=frq_items.tail(200)

In [25]:
from mlxtend.frequent_patterns import apriori, association_rules 
rules = association_rules(frq_items, metric="lift",min_threshold = 1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(2_0),(1_0),0.444,0.248,0.248,0.558559,2.252252,0.137888,1.703510
1,(1_0),(2_0),0.248,0.444,0.248,1.000000,2.252252,0.137888,inf
2,(3_0),(1_0),0.584,0.248,0.248,0.424658,1.712329,0.103168,1.307048
3,(1_0),(3_0),0.248,0.584,0.248,1.000000,1.712329,0.103168,inf